.movies-list 
  display: flex
  flex-direction: row
  justify-content: flex-start
  .items 
    width: 20%


.expanded-movie-item 
  width: 80%
  display: flex
  flex-direction: row


.expanded-movie-item 
  h4 
    display: inline
  .description 
    display: flex
    flex-direction: column
  

.movie-list-item 
  cursor: pointer
  &.selected 
    text-decoration: underline


.list-container
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    padding: 1rem
    position: relative
    &__sort
      display: flex
      gap: 1rem
      margin-bottom: 1rem
    .up-button
      position: fixed
      bottom: 20px
      right: 20px
      


      

